<img src="/public/img/2.jpg" alt="" style="height: 700px;">

<div class="container rounded bg-white mt-5 mb-5" >
    <div class="row" style="margin-top: -60%; ">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" width="150px" src="/uploads/<%= loggedInUser.resim %>">
                <span class="font-weight-bold"><%= user.name %> <%= user.surname %></span>
                <span class="text-black-50"><%= user.email %></span>
                <span></span>
            </div>
        </div>
        <form class="col-md-5 border-right" action="/users/settings/<%= userId %>" method="POST" enctype="multipart/form-data">
            <div>
                <div class="p-3 py-5">
                    <%- include ('./partials/message') %>

                    <div class="d-flex justify-content-between align-items-center mb-3">

                        <h4 class="text-right">Profile Ayarları</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <label class="labels">Name</label>
                            <input name="name" value="<%= user.name %>" type="text" class="form-control" placeholder="first name">
                        </div>
                        <div class="col-md-6">
                            <label class="labels">Surname</label>
                            <input name="surname" value="<%= user.surname %>" type="text" class="form-control" placeholder="surname">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <label class="labels">Mobile Number</label>
                            <input name="phonenumber" value="<%= user.phonenumber %>" type="text" class="form-control" placeholder="enter phone number">
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Gender</label>
                            <input type="text" name="gender" value="<%= user.gender %>" class="form-control" placeholder="enter gender">
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Email</label>
                            <input type="text" name="email" value="<%= user.email %>" class="form-control" placeholder="enter email">
                        </div>
                        <div class="col-md-12">
                            <label class="labels"></label>
                            <input type="hidden" name="userId" value="<%= user._id %>" class="form-control" placeholder="enter email">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Yeni Resim Yükle</label>
                        <input type="file" class="form-control" name="resim" id="resim">
                    </div>
                    <div class="mt-5 text-center">
                        <button class="btn btn-primary profile-button" type="submit">Profili Güncelle</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>





